
.main_container {
    display: flex;
    height: 605px;
    width: 849px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: 200px;
    height: 200px;
    z-index: 10;
    transform: rotateY(0deg);
    
}
.card::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: red;
   visibility: hidden;
    z-index: 1;

    
}

.cardChange{
transform: rotateY(100deg);
}
img{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -1;
    
}